<!doctype html>
<html lang="en">
	<head>
		<title>TravelBird</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>

		<header class="header-main">
			<h1><a href="#">TravelBird</a></h1>
		</header>

		<section id="list-hotels">
		</section>

<article>

    <h2>Logos</h2>

    <div class="center">
        <img class="mainlogo" src="http://media.travelbird.nl/media/themes/mus_light/img/travelbird.png?v=2.0.957" alt="TravelBird" />
        <img src="http://media.travelbird.nl/media/img/favicon.ico?v=2.0.957" alt="favicon" />
    </div>

</article>

<article>
    <h2>Links</h2>

    <nav>
        <ul>
            <li><a href="#">Daydeals</a></li>
            <li><a href="#">Theme's</a></li>
            <li><a href="#">Citytrips</a></li>
        </ul>
    </nav>

    <nav>
        <ul class="green">
            <li><a href="#">Daydeals</a></li>
            <li><a href="#">Theme's</a></li>
            <li><a href="#">Citytrips</a></li>
        </ul>
    </nav>

    <nav>
        <ul class="blue">
            <li><a href="#">Daydeals</a></li>
            <li><a href="#">Theme's</a></li>
            <li><a href="#">Citytrips</a></li>
        </ul>
    </nav>

</article>


<article class="center">
    <h2>Cta Buttons</h2>
    <!-- orange buttons -->
    <a href="#" class="button orange small">Read more</a>
    <a href="#" class="button orange medium">Book now</a>
    <a href="#" class="button orange small">More info</a>
    <!-- black buttons --> <br/>
    <a href="#" class="button black small">Read more</a>
    <a href="#" class="button black medium">Book now</a>
    <a href="#" class="button black small">More info</a>
    <!-- gray buttons --> <br/>
    <a href="#" class="button gray small">Read more</a>
    <a href="#" class="button gray medium">Book now</a>
    <a href="#" class="button gray small">More info</a>
    <!-- buttons --> <br/>
    <a href="#" class="button small">Read more</a>
    <a href="#" class="button medium">Book now</a>
    <a href="#" class="button small">More info</a>
    <!-- transparent buttons --> <br/>
    <a href="#" class="button transparent small">Read more</a>
    <a href="#" class="button transparent medium">Book now</a>
    <a href="#" class="button transparent small">More info</a>
</article>

<article class="center">
    <h2>Headings</h2>
    <h1>H1 heading style</h1>
    <h2>H2 heading style</h2>
    <h3>H3 heading style</h3>
    <h4>H4 heading style</h4>
    <h5>H5 heading style</h5>
    <h6>H6 heading style</h6>
</article>

<article class="bg-darkgrey">
    <h2>Contents</h2>
    <p class="content">
        Het internet staat vol met allerlei vakantie-aanbiedingen. Maar welke moet je nu hebben? Welke is de voordeligste? En welke is de leukste?
Wij zagen door de bomen het bos niet meer. Daarom zijn we gestart met TravelBird, een website die probeert de vakantie waar jij naar zoekt aan te bieden. TravelBird heeft elke dag diverse nieuwe acties, waardoor er altijd wel een keer iets voor je bij zit. Je kijkt snel of het iets is. Zo ja, dan boek je je vakantie. En als het niet is wat je zoekt, dan kijk je gewoon wat er morgen is. Simpel!
    </p>

    <p class="content italic">
        Het internet staat vol met allerlei vakantie-aanbiedingen. Maar welke moet je nu hebben? Welke is de voordeligste? En welke is de leukste?
Wij zagen door de bomen het bos niet meer. Daarom zijn we gestart met TravelBird, een website die probeert de vakantie waar jij naar zoekt aan te bieden. TravelBird heeft elke dag diverse nieuwe acties, waardoor er altijd wel een keer iets voor je bij zit. Je kijkt snel of het iets is. Zo ja, dan boek je je vakantie. En als het niet is wat je zoekt, dan kijk je gewoon wat er morgen is. Simpel!
    </p>
</article>

<article class="bg-darkgrey">
    <h2>Boxes</h2>
    <div class="boxes">
        <p>example box</p>
    </div>
    <div class="boxes gray">
        <p>example box</p>
    </div>
    <div class="boxes">
        <p>example box</p>
    </div>
    <h2>Color Inspiration</h2>

    <section class="container">
        <!-- Box -->
        <section class="box">
            <section class="color-left grapefruit-light"></section>
            <section class="color-right grapefruit-dark"></section>
            <h4>Grapefruit</h4>
            <p>#ED5565 #DA4453</p>
        </section>
        <!-- Box -->

        <!-- Box -->
        <section class="box">
            <section class="color-left bittersweet-light"></section>
            <section class="color-right bittersweet-dark"></section>
            <h4>Bittersweet</h4>
            <p>#FC6E51 #E9573F</p>
        </section>
        <!-- Box -->

        <!-- Box -->
        <section class="box">
            <section class="color-left sunflower-light"></section>
            <section class="color-right sunflower-dark"></section>
            <h4>Sunflower</h4>
            <p>#FFCE54 #F6BB42</p>
        </section>
        <!-- Box -->

        <!-- Box -->
        <section class="box">
            <section class="color-left grass-light"></section>
            <section class="color-right grass-dark"></section>
            <h4>Grass</h4>
            <p>#A0D468 #8CC152</p>
        </section>
        <!-- Box -->

        <!-- Box -->
        <section class="box">
            <section class="color-left mint-light"></section>
            <section class="color-right mint-dark"></section>
            <h4>Mint</h4>
            <p>#48CFAD #37BC9B</p>
        </section>
        <!-- Box -->

        <!-- Box -->
        <section class="box">
            <section class="color-left aqua-light"></section>
            <section class="color-right aqua-dark"></section>
            <h4>Aqua</h4>
            <p>#4FC1E9 #3BAFDA</p>
        </section>
        <!-- Box -->

        <!-- Box -->
        <section class="box">
            <section class="color-left blueJeans-light"></section>
            <section class="color-right blueJeans-dark"></section>
            <h4>Blue Jeans</h4>
            <p>#5D9CEC #4A89DC</p>
        </section>
        <!-- Box -->

        <!-- Box -->
        <section class="box">
            <section class="color-left lavander-light"></section>
            <section class="color-right lavander-dark"></section>
            <h4>Lavender</h4>
            <p>#AC92EC #967ADC</p>
        </section>
        <!-- Box -->

        <!-- Box -->
        <section class="box">
            <section class="color-left pinkRose-light"></section>
            <section class="color-right pinkRose-dark"></section>
            <h4>Pink Rose</h4>
            <p>#EC87C0 #D770AD</p>
        </section>
        <!-- Box -->

        <!-- Box -->
        <section class="box">
            <section class="color-left lightGray-light"></section>
            <section class="color-right lightGray-dark"></section>
            <h4>Light Gray</h4>
            <p>#F5F7FA #E6E9ED</p>
        </section>
        <!-- Box -->

        <!-- Box -->
        <section class="box">
            <section class="color-left mediumGray-light"></section>
            <section class="color-right mediumGray-dark"></section>
            <h4>Medium Gray</h4>
            <p>#CCD1D9 #AAB2BD</p>
        </section>
        <!-- Box -->

        <!-- Box -->
        <section class="box">
            <section class="color-left darkGray-light"></section>
            <section class="color-right darkGray-dark"></section>
            <h4>Dark Gray</h4>
            <p>#656D78 #434A54</p>
        </section>
        <!-- Box -->

    </section><!-- End .container -->
</article>

		<script src="main.js"></script>
	</body>
</html>

